@model int

@{
    ViewData["Title"] = "Not Found";
    ViewData["Id"] = Model;
}

<h5>Id @Model  not found</h5>
@* <h5>@ViewData["Id"]</h5> *@
<h1>Not Found</h1>
<p>The requested item could not be found.</p>
